@layer Reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root {
    isolation: isolate;
  }
  button {
    border: none;
    background-color: transparent;
  }

  input {
    border: none;
  }

  ul {
    list-style: none;
  }
}

@layer Colors {
  :root {
    /* Primary Colors */
    --color-primary-red: #f87070;
    --color-primary-cyan: #70f3f8;
    --color-primary-purple: #d881f8;
    --color-primary-blue: #d7e0ff;

    /* Neutral Colors */
    --color-neutral-dark-blue: #1e213f;
    --color-neutral-white: #ffffff;
    --color-neutral-light-gray: #eff1fa;
    --color-neutral-very-dark-blue: #161932;
  }

  /* Fonts */
  [data-font-family="Kumbh+Sans"] {
    --font-family: "Kumbh Sans", sans-serif;
  }

  [data-font-family="Roboto+Slab"] {
    --font-family: "Roboto Slab", sans-serif;
    font-weight: normal;
  }

  [data-font-family="Space+Mono"] {
    --font-family: "Space Mono", sans-serif;
  }

  /* Colors */
  [data-color="red"] {
    --changeable-color: var(--color-primary-red);
  }

  [data-color="cyan"] {
    --changeable-color: var(--color-primary-cyan);
  }

  [data-color="purple"] {
    --changeable-color: var(--color-primary-purple);
  }
}

.kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
}
.roboto-slab {
  font-family: "Roboto Slab", sans-serif;
}
.space-mono {
  font-family: "Space Mono", sans-serif;
}

.red {
  background-color: var(--color-primary-red) !important;
}

.cyan {
  background-color: var(--color-primary-cyan) !important;
}

.purple {
  background-color: var(--color-primary-purple) !important;
}

body {
  background-color: var(--color-neutral-dark-blue);
  color: var(--color-primary-blue);
  font-family: var(--font-family);
  font-weight: bold;
  width: 100vw;
  padding: 32px 24px 48px 24px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 24px;
}

.pomodoro-tabs-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pomodoro-tabs {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--color-neutral-very-dark-blue);
  border-radius: 31.5px;
  padding: 8px 12px;
  margin-bottom: 48px;
  max-width: 327px;
}

[data-font-family="Space+Mono"] {
  .pomodoro-tabs button {
    padding: 12px;
  }
}

.pomodoro-tabs button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  color: var(--color-primary-blue);
  font-size: 12px;
  font-weight: bold;
  height: 48px;
  padding: 18px;
  border-radius: 26.5px;
}

.pomodoro-tabs button.active {
  background-color: var(--changeable-color);
  color: var(--color-neutral-dark-blue);
}

.pmdo {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoro-timer-wrapper {
  width: 300px;
  height: 300px;
  background: linear-gradient(to top left, #2e325a 0%, #0e112a 100%);
  border-radius: 50%;
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoro-timer {
  width: 268px;
  height: 268px;
  border-radius: 50%;
  background-color: var(--color-neutral-very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-range {
  width: 248px;
  height: 248px;
  border-radius: 50%;
  background: conic-gradient(transparent 0%, var(--changeable-color) 0%);

  position: relative;
}

.timer-range::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 236px;
  height: 236px;
  background-color: var(--color-neutral-very-dark-blue);
  border-radius: 50%;
}

.timer-range-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

[data-font-family="Space+Mono"] {
  .timer-range-time {
    font-size: 60px;
  }
}

.timer-range-time {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 6px;
}

.timer-range-state {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 13.3px;
  text-transform: uppercase;
  margin-left: 16px;
}

.settings-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal-overlay.open {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: relative;
  background-color: white;
  color: #161932;
  margin: 48px 24px;
  padding-block: 24px 60px;
  border-radius: 15px;
  min-width: 327px;
}

.modal-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-inline: 24px;
  border-bottom: 1px solid #e3e1e1;

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  & .close-button {
    width: 14px;
    height: 14px;
  }
}

.modal-content-middle {
  padding-inline: 24px;
}

.modal-apply-button {
  position: absolute;
  left: 50%;
  bottom: -26px;
  transform: translateX(-50%);
  padding: 12px 47px 18px 47px;
  border-radius: 26.5px;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--changeable-color);
  color: white;
}

.modal-content-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 4.23px;
  color: var(--color-neutral-very-dark-blue);
  padding-block: 24px 15px;
}

.modal-content-time {
  border-bottom: 1px solid #e3e1e1;
  padding-bottom: 16px;
}

.modal-content-time-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-neutral-dark-blue);
  margin-block: 8px;

  & label {
    opacity: 0.4;
    font-size: 12px;
    font-weight: bold;
  }

  & input {
    max-width: 140px;
    height: 40px;
    background-color: var(--color-neutral-light-gray);
    border-radius: 10px;
    padding-inline: 16px 12px;
    font-size: 14px;
    font-weight: bold;
  }
}

.modal-content-font-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.modal-content-font-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  background-color: var(--color-neutral-light-gray);
  color: rgba(30, 33, 63, 0.72);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition: all 0.2s;

  &.active {
    background-color: var(--color-neutral-very-dark-blue);
    color: white;
  }
}

.modal-content-color-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.modal-content-color-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgba(30, 33, 63, 0.72);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &::before {
    content: url("/check.svg");
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }

  &.active::before {
    opacity: 1;
    visibility: visible;
  }
}

@media (width >= 425px) {
  body {
    padding: 0;
    padding-block: 48px 64px;
  }

  header {
    margin-bottom: 48px;
  }

  header h1 {
    font-size: 28px;
  }

  .pomodoro-tabs {
    max-width: 373px;
    margin-bottom: 68px;
  }

  .pomodoro-tabs button {
    font-size: 13px;
  }

  .pmdo {
    margin-bottom: 90px;
  }

  .pomodoro-timer-wrapper {
    width: 340px;
    height: 340px;
  }

  .pomodoro-timer {
    width: 308px;
    height: 308px;
  }

  .timer-range {
    width: 288px;
    height: 288px;
  }

  .timer-range::before {
    width: 276px;
    height: 276px;
  }
}

@media (width >= 768px) {
  body {
    padding: 0;
    padding-block: 80px 103px;
  }

  header {
    margin-bottom: 55px;
  }

  header h1 {
    font-size: 32px;
  }

  .pomodoro-tabs {
    margin-bottom: 109px;
  }

  .pomodoro-tabs button {
    font-size: 14px;
  }

  .pmdo {
    margin-bottom: 166px;
  }

  .pomodoro-timer-wrapper {
    width: 410px;
    height: 410px;
  }

  .pomodoro-timer {
    width: 366px;
    height: 366px;
  }

  .timer-range {
    width: 339px;
    height: 339px;
  }

  .timer-range-time {
    font-size: 100px;
  }

  .timer-range-state {
    font-size: 18px;
  }

  .timer-range::before {
    width: 324px;
    height: 324px;
  }

  .modal-content {
    margin: 0;
    padding-block: 34px 60px;
    border-radius: 25px;
    min-width: 540px;
  }

  .modal-content-header {
    padding-bottom: 24px;
    padding-inline: 40px;
    border-bottom: 1px solid #e3e1e1;

    h2 {
      font-size: 28px;
    }
  }

  .modal-content-middle {
    padding-inline: 40px;
  }

  .modal-content-title {
    font-size: 13px;
    letter-spacing: 5px;
    padding-block: 24px 26px;
  }

  .modal-content-time {
    border-bottom: 1px solid #e3e1e1;
    padding-bottom: 24px;
  }

  .modal-content-time-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .modal-content-time-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
      font-size: 14px;
      margin-bottom: 10px;
      align-self: baseline;
    }

    & input {
      height: 48px;
      padding-block: 16px;
      padding-inline: 16px;
      font-size: 16px;
    }
  }

  .modal-content-font-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .modal-content-font {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-block: 24px;
    border-bottom: 1px solid #e3e1e1;
  }

  .modal-content-title  {
    font-size: 14px;
  }

  .modal-content-color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 24px;
  }
}

@media (width >= 1024px) {
  body {
    padding: 0;
    padding-block: 48px 56px;
  }

  header h1 {
    font-size: 36px;
  }

  .pomodoro-tabs {
    margin-bottom: 45px;
  }

  .pomodoro-tabs button {
    font-size: 15px;
  }

  .pmdo {
    margin-bottom: 98px;
  }

  .pomodoro-timer-wrapper {
    width: 450px;
    height: 450px;
  }

  .pomodoro-timer {
    width: 406px;
    height: 406px;
  }

  .timer-range {
    width: 379px;
    height: 379px;
  }

  .timer-range-time {
    font-size: 110px;
  }

  .timer-range-state {
    font-size: 20px;
  }

  .timer-range::before {
    width: 364px;
    height: 364px;
  }

  .pomodoro-tabs button:not(.active) {
    cursor: pointer;
  }

  .pomodoro-tabs button:not(.active):hover {
    color: white;
  }

  .timer-range-state {
    cursor: pointer;
  }

  .timer-range-state:hover {
    color: var(--changeable-color);
  }

  .timer-range-time {
    cursor: default;
    user-select: none;
  }

  .settings-wrapper button {
    cursor: pointer;
  }

  .modal-content-font-item,
  .modal-content-color-item {
    cursor: pointer;
  }

  .modal-content-font-item:hover,
  .modal-content-color-item:hover {
    opacity: 0.8;
  }
}
